.article {
  display: flex;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  opacity: 0.8;
}

.article-left {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
  height: 100%;
}

.article-tab:hover {
  cursor: pointer;
}

.article-description {
  background-color: white;
  opacity: 0.8;
  color: gray;
  font-size: 12px;
  width: 78.8%;
  padding: 3px;
  margin: 0px;
}

.article-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
}

.article-author {
  color: gray;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.article-img {
  width: 100%;
  height: 80%;
}

.article-links {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  margin-top: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.article-links a {
  text-decoration: none;
}

.article-links a:hover {
  cursor: pointer;
}