#footer {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 14vh;
    font-weight: 500;
    background-color: orange;
    max-width: 100%;
}