#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 8vh;
  width: 100vw;
  position: relative;
}

#navbar #title {
  padding-left: 10vw;
  justify-content: flex-start;
  letter-spacing: 10px;
  font-weight: bold;
}
.link-box {
  padding-right: 5vw;
  width: 30vw;

  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#team-link {
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;
}

#team-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#home-link {
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;
}

#home-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#home-link:visited,
#team-link:visited {
  color: black;
}

.avatar-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
