#articles-container-title {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

#articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow: scroll;
  width: 800px;
  height: 80vh;
}

.tab-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tabs {
  height: 50px;
  border: none;
  border-radius: 0;
  background-color: rgb(201, 201, 201);
  flex-grow: 1;
  opacity: 70%;
}
.tabs.active {
  background-color: white;
}
