#articles-container-title {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 80%;
}

#articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: scroll;
    width: 800px;
    height: 80vh;
}